<div class="flex flex-col md:max-w-lg max-w-none mx-auto min-h-full">
  <%# cover photo %>
  <div class="z-0 h-48 overflow-hidden">
    <img src="<%= asset_path('vw-baloon.webp') %>" alt="" class="object-cover h-full w-full" >
  </div>
  <div class="z-10 bg-base-100 -mt-4 md:p-8 p-4 rounded-t-2xl">
    <div class="flex flex-col text-center w-full py-8">
      <h1 class="md:text-2xl text-xl font-semibold">VW Borobudur Enjoy </h1>
      <h3 class="md:text-xl text-lg text-primary"> Sempurnakan liburanmu bersama kami </h3>
    </div>
    <%# call out %>
    <div class="card bg-primary p-4">
      <span class="card-title md:text-lg text-base">Tentukan jadwal liburanmu sekarang!</span>
      <form action="" method="get">
        <div class="card md:flex-row flex-col md:space-x-2 md:space-y-0 space-y-2 space-x-0">
          <div class="w-full flex flex-col md:items-start">
            <label for="tanggal" class="label label-text">Tanggal</label>
            <input type="date" id="tanggal" class="input input-bordered w-full border-2 border-gray-700" required>
          </div>
          <div class="flex md:items-end">
            <input type="submit" value="Pilih" class="w-full btn btn-info border-2 hover:border-base-100 hover:text-base-100 border-gray-700">
          </div>
        </div>
      </form>
    </div>
    <%# cards %>
    <div class="mt-4 space-y-4">
      <span class="card-title md:text-lg text-base">Daftar Paket</span>
      <div class="card w-full bg-white border-2 border-gray-700">
        <div class="card-body">
          <div class="card-title flex justify-between md:text-lg text-base">
            <h2>Short Trip</h2>
            <h2 class="text-primary">400K/VW</h2>
          </div>
          <div class="flex flex-col items-end md:text-base text-sm">
            <p>2 Destinasi Wisata + Spot Foto</p>
            <p>Durasi 2 jam</p>
          </div>
        </div>
      </div>
      <div class="card w-full bg-white border-2 border-gray-700">
        <div class="card-body">
          <div class="card-title flex justify-between md:text-lg text-base">
            <h2>Medium</h2>
            <h2 class="text-primary">550K/VW</h2>
          </div>
          <div class="flex flex-col items-end md:text-base text-sm">
            <p>3 Destinasi Wisata + Spot Foto</p>
            <p>Durasi 3 jam</p>
          </div>
        </div>
      </div>
      <div class="card w-full bg-white border-2 border-gray-700">
        <div class="card-body">
          <div class="card-title flex justify-between md:text-lg text-base">
            <h2>Long</h2>
            <h2 class="text-primary">700K/VW</h2>
          </div>
          <div class="flex flex-col items-end md:text-base text-sm">
            <p>4 Destinasi Wisata + Spot Foto</p>
            <p>Durasi 4 jam</p>
          </div>
        </div>
      </div>
      <div class="card w-full bg-white border-2 border-gray-700">
        <div class="card-body">
          <div class="card-title flex justify-between md:text-lg text-base">
            <h2>One Day</h2>
            <h2 class="text-primary">700K/VW</h2>
          </div>
          <div class="flex flex-col items-end md:text-base text-sm">
            <p>6 Destinasi Wisata + Spot Foto</p>
            <p>Durasi 8 jam</p>
          </div>
        </div>
      </div>
      <div class="card w-full bg-white border-2 border-gray-700">
        <div class="card-body">
          <div class="card-title flex justify-between md:text-lg text-base">
            <h2>Sunrise</h2>
            <h2 class="text-primary">600K/VW</h2>
          </div>
          <div class="flex flex-col items-end md:text-base text-sm">
            <p>2 Destinasi Wisata + Spot Foto</p>
            <p>Durasi 3 jam</p>
          </div>
        </div>
      </div>
    </div>
    <%# carousel %>
    <div class="mt-4 space-y-4">
      <span class="card-title md:text-lg text-base">Destinasi Wisata</span>
      <div class="carousel carousel-center p-4 space-x-4 max-w-md h-48 bg-base-200 rounded-box">
        <div class="carousel-item image-full w-64 card opacity-90">
          <figure><img src="<%= asset_path('junk-yard.jpg') %>" alt="" class="object-cover h-full w-full" /></figure>
          <div class="card-body">
            <h2 class="card-title text-base-100">Junk Yard</h2>
          </div>
        </div>
        <div class="carousel-item w-64 card bg-base-100 image-full opacity-90">
          <figure><img src="<%= asset_path('svarga-bhumi.jpg') %>" alt="" class="object-cover h-full w-full" /></figure>
          <div class="card-body">
            <h2 class="card-title text-base-100">Svarga Bumi</h2>
          </div>
        </div>
        <div class="carousel-item w-64 card bg-base-100 image-full opacity-90">
          <figure><img src="<%= asset_path('gereja-ayam.jpg') %>" alt="" class="object-cover h-full w-full" /></figure>
          <div class="card-body">
            <h2 class="card-title text-base-100">Gereja Ayam</h2>
          </div>
        </div>
        <div class="carousel-item w-64 card bg-base-100 image-full opacity-90">
          <figure><img src="<%= asset_path('taman-kelinci.jpg') %>" alt="" class="object-bottom h-full w-full" /></figure>
          <div class="card-body">
            <h2 class="card-title text-base-100">Taman Kelinci</h2>
          </div>
        </div>
        <div class="carousel-item w-64 card bg-base-100 image-full opacity-90">
          <figure><img src="<%= asset_path('punthuk-setumbu.jpg') %>" alt="" class="object-cover h-full w-full" /></figure>
          <div class="card-body">
            <h2 class="card-title text-base-100">Punthuk Setumbu</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-4 space-y-4">
      <span class="card-title md:text-lg text-base">Wisata Edukasi</span>
      <div class="carousel carousel-center p-4 space-x-4 max-w-md h-48 bg-base-200 rounded-box">
        <div class="carousel-item w-64 card bg-base-100 image-full opacity-90">
          <figure><img src="<%= asset_path('wisata-vw.jpg') %>" alt="" class="object-cover h-full w-full"/></figure>
          <div class="card-body">
            <h2 class="card-title text-base-100">Batik</h2>
          </div>
        </div>
        <div class="carousel-item w-64 card bg-base-100 image-full opacity-90">
          <figure><img src="<%= asset_path('wisata-vw.jpg') %>" alt="" class="object-cover h-full w-full" /></figure>
          <div class="card-body">
            <h2 class="card-title text-base-100">Gula Jawa</h2>
          </div>
        </div>
        <div class="carousel-item w-64 card bg-base-100 image-full opacity-90">
          <figure><img src="<%= asset_path('wisata-vw.jpg') %>" alt="" class="object-cover h-full w-full" /></figure>
          <div class="card-body">
            <h2 class="card-title text-base-100">Kopi Luwak</h2>
          </div>
        </div>
        <div class="carousel-item w-64 card bg-base-100 image-full opacity-90">
          <figure><img src="<%= asset_path('wisata-vw.jpg') %>" alt="" class="object-cover h-full w-full" /></figure>
          <div class="card-body">
            <h2 class="card-title text-base-100">Rengginang</h2>
          </div>
        </div>
        <div class="carousel-item w-64 card bg-base-100 image-full opacity-90">
          <figure><img src="<%= asset_path('wisata-vw.jpg') %>" alt="" class="object-cover h-full w-full" /></figure>
          <div class="card-body">
            <h2 class="card-title text-base-100">Jamur Borobudur</h2>
          </div>
        </div>
        <div class="carousel-item w-64 card bg-base-100 image-full opacity-90">
          <figure><img src="<%= asset_path('wisata-vw.jpg') %>" alt="" class="object-cover h-full w-full" /></figure>
          <div class="card-body">
            <h2 class="card-title text-base-100">Kerajinan Gerabah</h2>
          </div>
        </div>
        <div class="carousel-item w-64 card bg-base-100 image-full opacity-90">
          <figure><img src="<%= asset_path('wisata-vw.jpg') %>" alt="" class="object-cover h-full w-full" /></figure>
          <div class="card-body">
            <h2 class="card-title text-base-100">Peternakan Lebah</h2>
          </div>
        </div>
        <div class="carousel-item w-64 card bg-base-100 image-full opacity-90">
          <figure><img src="<%= asset_path('wisata-vw.jpg') %>" alt="" class="object-cover h-full w-full" /></figure>
          <div class="card-body">
            <h2 class="card-title text-base-100">Peternakan Kambing</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex p-8 bg-base-300 align-middle text-center w-full">
    <h3 class="text-base">Made by akbarb with ❤️</h3>
  </div>
</div>
